/www/bitrix/*
/www/upload/*
/www/vendor/*

!/bitrix/.settings_extra.php

.env

# --- System & IDE ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.local
*.log

node_modules

www/local/tests/coverage/

www/.phpunit.cache/
www/.php-cs-fixer.cache
www/.phpunit.result.cache

www/fix_update.php

www/local/tests/infection.log
www/local/tests/infection.html
www/local/tests/infection-summary.log
